<template>
    <div class="container">
        <el-button v-if="status === '1'" type="success" @click="dialogVisible = true"><i class="fas fa-plus"></i> Add Category</el-button>
        <el-tabs :tab-position="tabPosition" style="margin-top:20px;" @tab-click="handleTabClick">
            <el-tab-pane v-for="(category, index) in list" :key="index" :label="category.name" :category="category">
                <div v-show="tabPaneDisplay === true">
                    <el-button v-if="status === '1'" type="danger" @click="deleteCategory(category)"><i class="fas fa-trash-alt"></i> Delete Category</el-button>
                    <div class="row">
                        <div class="col-3 p-2" v-for="(image, index) in flickrPhotos" :key="index">
                            <img :src="imageUrl(image)" class="avatar" v-on:click="openImage(image)">
                        </div>
                    </div>
                </div>
                <div v-show="imageDetailsDisplay === true">
                    <div class="row">
                        <div class="col-8" :style="{ backgroundImage: `url(${tmpImage ? tmpImage.file : ''})` }" style="width: 100%; height: 500px;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;">
                        </div>
                        <div class="col-4">
                            <div class="d-flex justify-content-between">
                                <h4>Details:</h4>
                                <el-button type="default" @click="closeImage"><i class="fas fa-backspace"></i> </el-button>
                            </div>
                            <div>
                                <p v-show="editingImage === null">{{ tmpImage ? tmpImage.details : '' }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </el-tab-pane>
        </el-tabs>

        <el-dialog
            title="Category"
            :visible.sync="dialogVisible"
            width="30%">
            <span slot="footer" class="dialog-footer">
                <el-input placeholder="Please input" v-model="tmpCategory.name"></el-input>
                <el-button @click="dialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="saveCategory()">Confirm</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<style>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
    export default {
        props: {
            status: {
                type: String,
                required: true
            },
            list: {
                type: Array,
                required: true
            }
        },
        data() {
            return {
                api_key: '24f691f4d53969bece05886c0b79892a',
                tabPosition: 'left',
                dialogVisible: false,
                tabPaneDisplay: true,
                imageDetailsDisplay: false,
                editingImage: null,
                editingDetails: null,
                tmpCategory: {
                    id: null,
                    name: null
                },
                tmpImage: null,
                images: [],
                flickrPhotos: []
            };
        },
        computed: {
        },
        mounted() {
            if (this.list.length > 0) {
                this.fetchImages(this.list[0])
            }
        },
        methods: {
            saveCategory() {
                let data = this.tmpCategory
                axios.post('add-category', data)
                    .then(({data}) => {
                    if (data.success) {
                        this.dialogVisible = false
                        this.list = data.message
                        this.tmpCategory.name = null
                    }
                });
            },
            deleteCategory(category) {
                axios.post('delete-category', category)
                    .then(({data}) => {
                    if (data.success) {
                        this.list = data.message
                    }
                });
            },
            handleAvatarSuccess(res, file) {
                if (res.success) {
                    this.images = res.message
                }
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg'
                const isLt2M = file.size / 1024 / 1024 < 2

                if (!isJPG) {
                    this.$message.error('Picture must be JPG format!')
                }
                if (!isLt2M) {
                    this.$message.error('Picture size can not exceed 2MB!')
                }
                return isJPG && isLt2M;
            },
            fetchImages(category) {
                $.ajax({
                    method: 'get',
                    url: 'https://api.flickr.com/services/rest',
                    data: {
                        method: 'flickr.photos.search',
                        api_key: this.api_key,
                        tags: category.name,
                        page: 1,
                        format: 'json',
                        nojsoncallback: 1,
                        per_page: 30,
                    },
                    success: (data) => {
                        if (data.stat == 'ok') {
                            this.flickrPhotos = data.photos.photo
                        }
                    }
                })
            },
            imageUrl(image) {
                //https://farm{farm-id}.staticflickr.com/{server-id}/{id}_{secret}.jpg
                return 'https://farm' + image.farm + '.staticflickr.com/' + image.server + '/' + image.id + '_' + image.secret + '.jpg'
            },
            addImageUrl(category_id) {
                return 'add-image/' + category_id
            },
            handleTabClick(obj, e) {
                this.fetchImages(obj.$attrs.category);
            },
            openImage(image) {
                let imageInfo = this.getImageInfo(image)
                this.tabPaneDisplay = false
                this.imageDetailsDisplay = true
            },
            getImageInfo(image) {
                this.tmpImage = {
                    file: null,
                    details: null
                }
                $.ajax({
                    method: 'get',
                    url: 'https://api.flickr.com/services/rest',
                    data: {
                        method: 'flickr.photos.getInfo',
                        api_key: this.api_key,
                        photo_id: image.id,
                        format: 'json',
                        nojsoncallback: 1,
                    },
                    success: (data) => {
                        if (data.stat == 'ok') {
                            this.tmpImage.file = this.imageUrl(image)
                            console.log(data.photo)
                            this.tmpImage.details = data.photo.description._content
                        }
                    }
                })
            },
            closeImage() {
                this.tabPaneDisplay = true
                this.imageDetailsDisplay = false
                this.editingImage = null
                this.editingDetails = null
                this.tmpImage = null
            },
            editImageDetails() {
                this.editingImage = this.tmpImage.id
                this.editingDetails = this.tmpImage.details
            },
            saveImageDetails() {
                let image = {'id': this.tmpImage.id, 'details': this.editingDetails}
                axios.post('save-image-details', image)
                    .then(({data}) => {
                    if (data.success) {
                        this.tmpImage.details = data.message.details
                        this.editingImage = null
                        this.editingDetails = null
                    }
                })
            }
        }
    };
</script>
